<md-dialog class="event-form-dialog" aria-label="New Message">
	<form name="form" class="md-inline-form" novalidate>
		<md-toolbar class="md-accent md-hue-2">
			<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
				<span class="title">Añadir Auto</span>
				<md-button class="md-icon-button" ng-click="vm.close()" aria-label="Close dialog" translate translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
					<md-icon md-font-icon="icon-close"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content ms-scroll>

		<div layout="row" layout-xs="column" layout-padding>
				<md-input-container flex class="md-block">
	        <label>Nombre</label>
	        <input required md-no-asterisk name="anio_lanzamiento" ng-model="vm.auto.anio_lanzamiento">
	        <div ng-messages="form.anio_lanzamiento.$error">
	          <div ng-message="required">This is required.</div>
	        </div>
	      </md-input-container>

			<md-input-container flex class="md-block">
	        	<label>Email</label>
	        	<input md-no-asterisk name="score_auto" ng-model="vm.auto.score_auto">
	        	<div ng-messages="form.score_auto.$error">
	          		<div ng-message="required">This is required.</div>
	        	</div>
	      	</md-input-container>
		</div>

			<div layout="row" layout-xs="column" layout-padding>
				<md-input-container flex class="md-block">
	        		<label>Dolares</label>
	        		<input required md-no-asterisk name="anio_lanzamiento" ng-model="vm.auto.anio_lanzamiento">
	        		<div ng-messages="form.anio_lanzamiento.$error">
	          			<div ng-message="required">This is required.</div>
	        		</div>
	      		</md-input-container>

				<md-input-container flex class="md-block">
          			<label>Tipo de usuario</label>
          			<md-select ng-model="vm.auto.id_tipo">
            			<md-option ng-repeat="tipo in vm.tipos" value="{{tipo.id_tipo}}">
              				{{tipo.nombre}}
            			</md-option>
          			</md-select>
        		</md-input-container>

				<md-input-container flex class="md-block">
          			<label>Pagina</label>
          			<md-select ng-model="vm.auto.id_subtipo">
            			<md-option ng-repeat="subtipo in vm.subtipos" value="{{subtipo.id_subtipo}}">
              				{{subtipo.nombre}}
            			</md-option>
          			</md-select>
        		</md-input-container>
			</div>

			<div layout="row" layout-xs="column" layout-padding>
				<md-input-container flex class="md-block">
	        		<label>Contraseña</label>
	        		<input required md-no-asterisk name="anio_lanzamiento" ng-model="vm.auto.anio_lanzamiento">
	        		<div ng-messages="form.anio_lanzamiento.$error">
	          			<div ng-message="required">This is required.</div>
	        		</div>
	      		</md-input-container>
        	</div>
		</md-dialog-content>

		<md-dialog-actions layout="row" layout-align="space-between center">
			<md-button ng-click="vm.close()" class="md-warn md-raised" aria-label="CANCEL"
				ng-disabled="vm.creating">
				Cancelar
			</md-button>

			<md-progress-circular ng-show="vm.creating" md-mode="indeterminate"></md-progress-circular>

			<md-button ng-click="vm.save()" class="save-button md-accent md-raised" aria-label="SAVE"
      	ng-disabled="form.$invalid || vm.creating">
				Guardar
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
