
<style>
       #map {
        height: 250px;
        width: 100%;
       }
</style>

<md-dialog class="event-form-dialog" aria-label="New Message">
	<form name="form" class="md-inline-form" novalidate>
		<md-toolbar class="md-accent md-hue-2">
			<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
				<span class="title">Añadir Zona</span>
				<md-button class="md-icon-button" ng-click="vm.close()" aria-label="Close dialog" translate translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
					<md-icon md-font-icon="icon-close"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content ms-scroll>

      <md-input-container class="md-block">
        <label>Nombre</label>
        <input required name="nombre" ng-model="vm.zona.name">
        <div ng-messages="form.nombre.$error">
          <div ng-message="required">Campo Requerido.</div>
        </div>
      </md-input-container>

      <h3>Agrege un poligono</h3>
       <div id="map"></div>

		</md-dialog-content>

		<md-dialog-actions layout="row" layout-align="space-between center">
			<md-button ng-click="vm.close()" class="md-warn md-raised" aria-label="CANCEL">
				Cancelar
			</md-button>

			<md-button ng-click="vm.save()" class="save-button md-accent md-raised" aria-label="SAVE"
      ng-disabled="form.$invalid">
				Guardar
			</md-button>
		</md-dialog-actions>
	</form>

</md-dialog>

<script type="text/javascript">

	function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 15.397, lng: 10.644},
          zoom: 2,
          streetViewControl:false
        });

        var drawingManager = new google.maps.drawing.DrawingManager({
		      drawingControl: true,
		      drawingControlOptions: {
		      	drawingModes: [
			      google.maps.drawing.OverlayType.POLYGON
			    ],
		        position: google.maps.ControlPosition.TOP_CENTER,
		        drawingModes: ['polygon']
		      },
        });
        drawingManager.setMap(map);

        google.maps.event.addListener(drawingManager, 'polygoncomplete', function(polygon) {
        	let paths = polygon.getPath().getArray();
        	let poligono = '[';
        	let final = '[' + paths[0].lat() + ', ' + paths[0].lng() + ']';
        	for (var i = 0; i < paths.length - 1; i++) {
        		poligono = poligono + '[' + paths[i].lat() + ', ' + paths[i].lng() + '],'
			}
			poligono = poligono + '[' + paths[i].lat() + ', ' + paths[i].lng() + '],' + final + ']'
    		localStorage.setItem('poligono',poligono);
		});
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=drawing&key=AIzaSyB1-InqkExqKsUlO-Xd7EJ6_RV4CR4UWAc">
</script>
