<md-dialog class="event-form-dialog" aria-label="New Message">
	<form name="form" class="md-inline-form" novalidate>
		<md-toolbar class="md-accent md-hue-2">
			<div class="md-toolbar-tools" layout="row" layout-align="space-between center">
				<span class="title">Añadir Version</span>
				<md-button class="md-icon-button" ng-click="vm.close()" aria-label="Close dialog" translate translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
					<md-icon md-font-icon="icon-close"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content ms-scroll>

      <md-input-container flex class="md-block">
          <label>Parada</label>
          <md-select ng-model="vm.audio.spot">
            <md-option ng-repeat="parada in vm.paradas" value="{{parada.id}}">
                {{parada.nombre}}
            </md-option> 
          </md-select>
      </md-input-container>

			<md-input-container flex class="md-block">
          <label>Idioma</label>
          <md-select ng-model="vm.audio.lang">
            <md-option value="1">Español</md-option> 
            <md-option value="2">English</md-option> 
          </md-select>
      </md-input-container>

	  <md-button ngf-select ng-model="file" name="file" ngf-pattern="'audio/*'"
    ngf-accept="'audio/*'" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 100, height: 100}">Selecciona Audio</md-button>
    {{vm.load}}%

		</md-dialog-content>

		<md-dialog-actions layout="row" layout-align="space-between center">
			<md-button ng-click="vm.close()" class="md-warn md-raised" aria-label="CANCEL">
				Cancelar
			</md-button>

			<md-button ng-click="submit()" class="save-button md-accent md-raised" aria-label="SAVE"
      ng-disabled="form.$invalid">
				Guardar
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
